<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books</title>
  </head>
  <body>
    <h1>Books</h1>
    <p>
      <ul>
        <% @books.each do |book| %>
        <li>
          <%= book['Author'] %>
          (<%= book ['Year'] %>),
          <em><%= book['Title'] %></li></em>
        <% end %>
      </ul>
    </p>
  </body>
</html>
